;

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    {% set EXTRUDER_PREHEAT_TEMP = params.EXTRUDER_PREHEAT_TEMP|default(150)|float %}
    {% set Z_OFFSET = params.Z_OFFSET|default(0.2)|float %}
    {% set PURGE_LINE_OFFSET = params.PURGE_LINE_OFFSET|default(65)|float %}
    {% set RETRACTION_DISTANCE = params.RETRACTION_DISTANCE|default(printer.firmware_retraction.retract_length)|float %}
    {% set RETRACTION_SPEED = params.RETRACTION_SPEED|default(printer.firmware_retraction.retract_speed)|float %}
    {% set RETRACTION_UNRETRACT_SPEED = params.RETRACTION_UNRETRACT_SPEED|default(printer.firmware_retraction.unretract_speed)|float %}
    {% set RETRACTION_UNRETRACT_EXTRA = params.RETRACTION_UNRETRACT_EXTRA|default(printer.firmware_retraction.unretract_extra_length)|float %}

    SET_GCODE_OFFSET Z={Z_OFFSET} MOVE=0
    SET_RETRACTION RETRACT_LENGTH={RETRACTION_DISTANCE} RETRACT_SPEED={RETRACTION_SPEED} UNRETRACT_EXTRA_LENGTH={RETRACTION_UNRETRACT_EXTRA} UNRETRACT_SPEED={RETRACTION_UNRETRACT_SPEED}
    
    M220 S100 ; Reset Speed factor override percentage to default (100%)
    M221 S100 ; Reset Extrude factor override percentage to default (100%)
    M107  ; ensure the goddam fan is turned off, don't break the first layer plz

    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_PREHEAT_TEMP} ; set extruder preheat temp
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP} ; set bed temp
    
    G92 E0 ; reset extrusion distance
    G28 ; Start from home position

    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP - 5} ; wait for bed temp
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_PREHEAT_TEMP - 2} ; wait for extruder preheat temp

    G90 ; absolute pos
    G1 X-{PURGE_LINE_OFFSET} Y0 Z0.3 F3000 ; move to arc start

    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP} ; set extruder temp
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP} ; wait for extruder temp

    G92 E0 ; reset extrusion distance
    G90 ; absolute pos
    
    G3 X0 Y-{PURGE_LINE_OFFSET} I{PURGE_LINE_OFFSET} Z0.3 E30 F800 ; lay arc stripe 90deg
    G92 E0 ; reset extruder
    G90 ; absolute pos

[gcode_macro END_PRINT]
description: "G-code to run at the end of a print. Replace your slicer's end G-code with this"
gcode:
  M104 S0 ;Turn-off hotend
  M106 S0 ;Turn-off fan
  M140 S0 ;Turn-off bed

  SAFE_RETRACT

  G90 ; absolute pos
  G28 ; Home all axes
  M84 ; Disable Steppers

; https://github.com/dudeofawesome/klipper-config/blob/master/macros/safe_retract.cfg
[gcode_macro SAFE_RETRACT]
description: Retract
gcode:
  SAVE_GCODE_STATE NAME=safe_retract

  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83 ;Relative extrusion
    G91 ;Relative positioning

    G10 ;Retract filament
    G1 Z0.2 F2400 ;Raise Z
    G1 E-0.5 F300 ;Retract filament 2mm to prevent oozing
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}

  RESTORE_GCODE_STATE NAME=safe_retract

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
    {% set SPEED = params.SPEED|default(300) %}
    {% set LOAD_VEL = params.LOAD_VEL|default(1000)|float %}
    {% set BOWDEN_DISTANCE = params.BOWDEN_DISTANCE|default(100)|float %}
    
    SAVE_GCODE_STATE NAME=load_filament
    G28 ; Home all axes
    M84 ; Disable Steppers

    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP} ; set extruder temp
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP} ; wait for extruder temp

    G91
    G92 E0
    G1 E{BOWDEN_DISTANCE} F{LOAD_VEL}
    G1 E25 F{SPEED} #purge
    G92 E0
    G90
    M117 Load complete
    RESTORE_GCODE_STATE NAME=load_filament

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
    {% set SPEED = params.SPEED|default(300) %}
    {% set UNLOAD_VEL = params.UNLOAD_VEL|default(1000)|float %}
    {% set BOWDEN_DISTANCE = params.BOWDEN_DISTANCE|default(100)|float %}
    
    SAVE_GCODE_STATE NAME=unload_filament
    G28 ; Home all axes
    M84 ; Disable Steppers

    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP} ; set extruder temp
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP} ; wait for extruder temp

    G92 E{BOWDEN_DISTANCE}
    M83
    G1 E25 F{SPEED} # purge
    G1 E-{BOWDEN_DISTANCE} F{UNLOAD_VEL}
    G92 E0
    G90
    M117 Unload complete
    RESTORE_GCODE_STATE NAME=unload_filament
